<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/resources/TableControl.css">
		<script type='text/javascript' src="/resources/TableControl.js"></script>
	</head>
	<body>
		<div id="floor">
			<div class="container">
				<div id="ControlPanel">
					<h1><%=camName.replaceAll("_", " ") %></h1>
					<%if(isLive){ %>
						<iframe width="424" height="240" src="https://www.youtube.com/embed/<%=id %>" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<span>
							<h3>Stream Link (click to copy)</h3>
							<input type="text" value="http://youtube.com/watch?v=<%=id %>" id="url_field" onclick="copyText()"></input>
						</span>
						<button onclick="killStream('<%=camName %>')" id="kill_stream_button">End Stream</button>
					
					<%} else {%>
						<span id="snapshotPreviewSpan">
							<img id="snapshotPreview" src="/snapshot/<%=camName %>" />
							<sub>Preview</sub>
						</span>
						<input type="text" id="StreamName" placeholder="Enter A Title (optional)" />
						<button onclick="loadStream('<%=camName %>')">Start Stream</button>
					<%}%>
				</div>
			</div>
		</div>
		
		<div id="loadingPane">
			<div class="container">
				<h1>Creating A Link<span id="dots">...</span></h1>
				<h3 id='load_tip'>This may take a minute - Please don't go away!</h3>
				<span id="loadingZone">
					<img src="/snapshot/<%=camName %>" id="loadingSnapshot" onload="vid_preview()" />
					<img src="/resources/loading.gif" id="loadingGIF" />
				</span>
			</div>
		</div>
		
		<footer>
		<div id="notificationBox">
			<h4 id="notificationText"></h4>
		</div>
		</footer>
		
	</body>
</html>

